{% extends 'base.html.twig' %}

{% block title %}My app{% endblock %}

{% block body %}
    <h1>Items list</h1>
    {% if items %}
        <table class="table table-striped">
            <thread>
                <tr align="center">
                    <th>Item title</th>
                    <th>Quantity</th>
                    <th>Currency</th>
                    <th>Price</th>
                </tr>               
            </thread>
            <tbody>
                {% for item in items %}
                    <tr align="center">
                        <td >{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.currency }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                    {% endfor %}
                    <tr align="center">
                            <td></td>
                            <td></td>
                            <td>Price in EUR:</td>
                            <td>{{ballance}}</td>
                        </tr>
            </tbody>
        </table>
    {% else %}
    <p>No items</p>
    {% endif %}
{% endblock %}